# -----------------------------------------------------------------------------
# Unity
# -----------------------------------------------------------------------------
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
sysinfo.txt
*.stackdump

# -----------------------------------------------------------------------------
# Visual Studio/MonoDevelop
# -----------------------------------------------------------------------------
/.vs/
/Assets/UnityVS/
/*.sln.ide/
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb
/*.booproj

# -----------------------------------------------------------------------------
# OS
# -----------------------------------------------------------------------------
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

# -----------------------------------------------------------------------------
# UnityReference
# -----------------------------------------------------------------------------
/Assets/References